<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.UserDao">
    <!--测试查询所有-->
    <select id="findAll" resultType="com.ssm.domain.User">
        <!--通过别名的方式解决数据库字段和实体类变量不对应-->
        select id as userId,username as name,birthday as userBirthday,sex as userSex,address as address from user;
    </select>
    <!--保存操作-->
    <insert id="saveUser" parameterType="com.ssm.domain.User">
        <!--知识点2：配置插入操作后获取插入数据的ID,这里keyProperty要和实体类成员变量一样-->
        <selectKey keyProperty="userId" keyColumn="id" resultType="int" order="AFTER">
            select last_insert_id();
        </selectKey>
        <!--知识点3:实体类变量名和数据库不对应时，应该使用实体类的成员变量名 和get set方法名无关！-->
        insert into user(username,address,sex,birthday) values(#{name},#{address},#{userSex},#{userBirthday});
    </insert>
    <!--更新用户-->
    <update id="updateUser" parameterType="com.ssm.domain.User">
        update user set username=#{name},address=#{address},sex=#{userSex},birthday=#{userBirthday} where id=#{userId};
    </update>
    <!--删除用户-->
    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from user where id=#{id}
    </delete>
    <!--根据ID查询用户-->
    <select id="getUserById" parameterType="java.lang.Integer" resultType="com.ssm.domain.User">
        select * from user where id=#{id}
    </select>
    <!--根据用户名模糊查询-->
    <select id="getUserByName" parameterType="java.lang.String" resultType="com.ssm.domain.User">
        <!--select * from user where username like #{name}-->
        <!--我们在上面将原来的#{}占位符，改成了${value}。注意如果用模糊查询的这种写法，那么${value}的写法就是固定的，不能写成其它名字。-->
        select * from user where username like '%${value}%'
    </select>
    <!--查询总用户数-->
    <select id="findTotal" resultType="java.lang.Integer">
        select count(id) from user;
    </select>

    <!--根据QueryVo条件查询用户-->
    <select id="findByVo" parameterType="com.ssm.domain.QueryVo" resultType="com.ssm.domain.User">
        select * from user where username like #{user.username}
    </select>
</mapper>